<!DOCTYPE html>

<html>
<head>
        <title>Help</title>

<link rel="stylesheet" href="./css/style.css">
<script src="/js/app.js"></script>
</head>
<body>
{{>header}}
    <div class="main-content">
 <h1> Help </h1>
    <p>{{helptext}}</p>

    </div>
   
    {{>footer}}
</body>
</html>